<% if logged_in? %>
    <div class="row">
        <aside class="col-md-4">
            <section class="user_info">
                <%= render 'shared/user_info' %>
            </section>
            <section class="stats">
                <%= render 'shared/stats' %>
            </section>
        </aside>
        <div class="col-md-8">
                <div class="btn-bigger">
                    <%= link_to "Words", "#" , class: "btn btn-primary btn-lg" %>
                    <%= link_to "Lesson", categories_path , class: "btn btn-primary btn-lg" %>
                </div>
                <section class="activities">
                    <h3>Activities</h3>
                </section>
        </div>
    </div>
<% else %>
    <div class="jumbotron">

        <div id="greeting">
            <h1 class="text-center">Welcome to</h1>
            <h1 class="text-center">E-Learning System</h1>
        </div>

        <div id="signup-btn">
            <%= link_to "Sign up", signup_path , class: "btn btn-primary center-block" %>
        </div>

    </div>
<% end %>

